@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
$font-stack-one: 'Kaushan Script', cursive;

@import url(https://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


span.text_span{
	font: 100% $font-stack-one;
	font-size: 36px;
	color: #6fcdac;
}

span.text_spantwo{
	color: #6fcdac;
}